body {
    background-image: url('upscalemedia-transformed\ \(1\).webp');
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.the-game .tools button{
    height: 150px;
    width: 150px;
    font-size: 80px;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s;
    backdrop-filter: blur(9.1px);
    background: rgba(255, 255, 255, 0.068);
    border-color: white;
    border-style: solid;  
    margin: 10px;  
}

button:hover{
    box-shadow: 10px 10px 10px;
    cursor: pointer;
    border-color: black;
    background: rgba(17, 17, 17, 0.438);
}

.the-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.63);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    border: 5px solid rgba(0, 0, 0, 0.849);
    min-width: 700px;
    max-width: auto;
    margin: 10px;
}
.the-game .tools {
    margin: 15px;

}

.the-game .how-much button{
    height: 80px;
    width: 80px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.486);
    backdrop-filter: blur(9.1px);
    border-style: solid;
    border-color: white;
    transition: 0.3s;
    border-radius: 16px;
}

.the-game .how-much input {
    background-color: rgba(255, 255, 255, 0.349);
    border-style: solid;
    border-color: white;
    height:80px;
    border-radius: 15px;
    margin: 10px;
    width: 60%;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.the-game .how-much {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition: 0.3s;
    max-width: 500px;
}

.the-game .ready {
    margin: 15px;
}

.the-game .ready button {
    background-color: rgba(240, 65, 65, 0.63);
    border-style: solid;
    border-color: white;
    backdrop-filter: blur(9.1px);
    height: 100px;
    width: 500px;
    transition: 0.3s;
    border-radius: 16px;
    font-size: 50px;
}
.the-game .ready button:hover {
    background-color: rgba(255, 0, 0, 0.863);
}
.main-part {
    display: flex;
    justify-content: center;
}

.the-game #player-icon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: black;
    margin: 10px;
    flex-direction: row;
}
.main-part .the-game .vs-player {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-player {
    display: flex;
    align-items: center;
}
.right-player {
    display: flex;
    align-items: center;
}
.player-info {
    background-color: rgba(0, 0, 0, 0.219);
    width: 120px;
    height: 25px;
    border-radius: 12px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
}
.left-player #player-icon {
    background-image: url('https://img.freepik.com/free-photo/emotions-people-concept-headshot-serious-looking-handsome-man-with-beard-looking-confident-determined_1258-26730.jpg');
    background-size: cover;
    background-position: center;
}
.right-player #player-icon {
    background-image: url("https://img.freepik.com/free-vector/graident-ai-robot-vectorart_78370-4114.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
}

.counter {
    height: 50%;
    min-height: 200px;
    margin: 15px;
    width: 95%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle 349px at 0.3% 48.6%,  rgba(0,0,0,1) 0%, rgba(87,124,253,0.89) 100.7% );
    border-style: solid;
    border-width: 2px;
    flex-direction: column;

}
.counter .countdown {
    font-size: 20px;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}
.counter .number {
    font-size: 70px;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

.transactions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    overflow-x:hidden;
}

.transaction {
    display: flex;
    justify-content: space-around;
    width: 95%;
    box-sizing:initial;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .main-part {
        display: grid;
    }
}